

body {
    display: flex;
    font-family:"Roboto", serif;
    flex-direction: column;
    

}
 
.top{
    background-color: #1f2937;
}


.header{ 
    display: flex;
    background-color: #1f2937;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    

}

.hero {
    display: flex;
    background-color: #1f2937;
    font: 48px;
    color: #f9faf8;
    font-weight:900px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 600px;
   
    
}

.links{
    display: flex;
    background-color: #1f2937;
    width: 463px;
    
    justify-content: space-between;

  

}

a {
    display: flex;
    margin-left: 25px;  
    margin-right: 0px;   
    background-color: #1f2937;
    font: 18px;
    color: #e5e7eb;
    text-decoration: none;
    
    
   
    
}

.intro{
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    align-items: flex-start;
    justify-content:space-evenly;
    margin-top: 80px;
    margin-bottom: 150px;
    
    
}

.left-info{
    color:#f9faf8;
    font-size: 24px;
    width:600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

}
.intro-button{
    font-family: "roboto", serif;
    color:#f9faf8;
    font-size: 24px;
    font-weight: 600;
    width:200px;
    height: 50px;
    background-color: #3882f6;
    border-radius: 15px;
    
}

.info-header{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 0;
}

.logo{
    display: flex;
    width: 463px;
    justify-content: flex-start;
    align-items:flex-start;
}
.right-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.icon-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
   
}

.icon{
    display: flex;
   justify-content: center;
   align-items: center;
    flex-wrap: wrap;
    width:250px;
    height: 343px;
    margin:50px;
    font-size: 18px;
    text-align: center;
    color:#e5e7eb;
    border: 3px solid rgba(88, 88, 88, 0.555);
    background-color: #3882f6;
    padding: 3px;

}

.icon-img{
    display: flex;
   width: 200px;
   height:200px;
   margin:10px;
   border:3px solid rgba(88, 88, 88, 0.5);
   border-radius: 15px;
     

}

.middle-title{
    display: flex;
    align-self: center;
    justify-self: flex-start;
    flex-wrap: nowrap;
   
}

.inspiring-quote{
    display: flex;
}